

.moviedetails-container{
     width: 40%;
     color: #FFF;
     margin-bottom: 2.5rem;
     background-color: #111;
     display: flex;
     justify-content: center;
     padding: 2%;
     border-radius: .1rem;
     
     
}

.moviedetails-container div{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.moviedetails-container div img{
     width: 100%;
     max-width: 100%;
     border: .5px solid rgb(75, 73, 73);
}

.moviedetails-container div img, 
.moviedetails-container div h2,
.moviedetails-container div p{
     margin-bottom: 1rem;
}

.moviedetails-container div svg{
     color: #F7D354;
}

.moviedetails-container div a{
     background-color: #ff5e00;
     border: 2px solid #ff5e00;
     border-radius: 4px;
     color: #000;
     padding: 1rem .5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: .4s;
     font-weight: bold;
}

.moviedetails-container div a:hover{
     background-color: transparent;
     color: #ff5e00;
}
