*{
     font-family: Helvetica;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     
}

body{
     background-color: #111;
     color: #FFF;
}

a{
     text-decoration: none;
     color: #ff5e00;
     transition: .5s;
}

a:hover{
     color: #ff5e00;
}